
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}


h2 {
    color: #333;
    margin-bottom: 20px;
}


.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}


#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}


@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
    .btn-atras {
        background-color: #f44336; /* Rojo */
        margin-bottom: 10px; /* Separación entre botones */
    }
    
    .btn-atras:hover {
        background-color: #d32f2f;
    }
}
